*{
            padding: 0;
            margin: 0;
        }
        :root{
            --color:#0fff;
            --hover:black;
            --foot:white;
        }
        .header{
            background-color: rgb(218, 218, 253);
            padding: 8px 2px;
            font-size: 20px;
            max-height: 70px;
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        li{
            display:inline;
            padding:0px 30px;
            list-style: none;
        }
        header nav ul li a{
            text-decoration: none;
            color: rgb(240, 5, 5);
        }
        header nav ul li a:hover{
            color: var(--hover);
            transition: 0.8s ease-in-out;
        }
        header nav{
            float: right;
        }
        .foot{
            background-color: rgb(65, 61, 61);
            height: 50vh;
            width: 100%;
            color: white;
        }
        footer nav ul li a{
            color:var(--color);
            text-decoration: none;
            transition: 0.5s ease;
        }
        footer nav ul li a:hover{
            color: var(--foot);
        }
        .ful{
            display: grid;
            padding: 20px 5px;
            float: right;
            margin-right: 80px;
        }
        .copy{
            padding: 20px;
            text-align: center;
            font-size: 30px;
            margin-left: 0px;
        }
        .main{
            min-height: 100vh;
            background-color: rgb(246, 240, 233);
        }
        .search{
            display: grid;
            width: 100%;
            place-content: center;
            background-image: url('map.png');
            height: 70vh;
        }
        .both{
            display: flex;
            flex-direction: column;
            width: 820px;
            text-align: center;
        }
        .pickup{
            position: relative;
            width: 700px;
            place-content: center;
            margin-bottom: 20px;
            background-color:white;
            min-height: 60px;
            padding: 10px;
            border: 1px solid black;
            border-radius: 10px;
        }
        .destination{
            
            position: relative;
            width: 700px;
            margin-bottom: 10px;
            background-color: white;
            place-content: center;
            min-height: 60px;
            padding: 10px;
            border: 1px solid black;
            border-radius: 10px;
        }
        .btn{
            width: 730px;
            min-height: 65px;
            border-radius: 10px;
            background-color: rgb(255, 202, 32);
            font-size: 35px;
            font-weight: 700;
            cursor: pointer;
            margin-right: 100px;
        }
        .ridetimeouter{
            height: 80vh;
            display: flex;
            flex-direction: row;
        }
        .ridetimeimage{
            width: 700px;
            margin-left: 100px;
            padding: 20px;
        }
        .ridetimeimage1{
            display: flex;
            flex-direction: row;
        }
        .ridetimeimage2{
            display: flex;
            flex-direction: row;
        }
        .ridetime{
            width: 700px;
            padding: 20px;
        }
        .ridetime ul li{
            font-size: 40px;
            padding: 0px;
        }
        .safetyouter{
            height: 70vh;
            width: 100%;
            display: flex;
            flex-direction: row;
        }
        .Safety{
            margin-left: 50px;
            width: 600px;
        }
        .safetyimages{
            padding: 10px;
            margin-left: 100px;
            margin-right: 50px;
        }
        .made{
            padding: 60px;
            align-items: center;
        }
        .visionouter{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .visionfirst{
            display: flex;
            flex-direction: row;
            margin-left: 90px;
        }
        .visionsecond{
            display: flex;
            flex-direction: row;
            margin-left: 90px;
        }
        .vision1{
            width: 500px;height: 300px;
            border:2px solid black;
            border-radius: 20px;
            background-color: rgb(255, 202, 32);
        }
        .vision2{
            width: 500px;height: 300px;
            margin-left: 100px; 
            border: 2px solid black;
            border-radius: 20px;
            background-color: rgb(255, 202, 32);
        }
        .vision3{
            width: 500px;height: 300px;
            border: 2px solid black;
            border-radius: 20px;
            background-color: rgb(255, 202, 32);
        }
        .vision4{
            width: 500px;height: 300px;
            border: 2px solid black;
            border-radius: 20px;
            margin-left: 100px;
            background-color: rgb(255, 202, 32);
        }
        .social{
            height: 20vh;
            width: 100%;
            display: flex;
            flex-direction: row;
            place-content: center;
            align-items: center;
        }